@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');


ul, li {
    display: block;
    padding: 0;
    margin: 0;
}


strong, b {
    font-weight: bold;
    }

.container {
    display: block;
}

.header .container {
    height: 380px;
}

.header__logo {
    background: url(../img/img-header.png) no-repeat;
    background-color: #e9eae2;
    height: 380px;
}

.header__logo p {
color: #393d3c;
font-family: "Roboto Condensed";
font-size: 14px;
font-weight: 400;
line-height: 13.68px;
text-transform: uppercase;
padding-top: 2px;
margin-left: 125px;
}

.header__menu {
    height: 380px;
    background: url(../img/line.png) no-repeat;
    background-size:100% 100%;
    background-color: #7acec3;
}

.logo {
    margin-top: 32px;
    margin-left: 125px;
}

.social-network {
    color: #7acec3;
    margin-left: 143px;
}

.fb {
    width: 8px;
    height: 17px;
    margin-top: 20px;
}

.tw {
    width: 20px;
    height: 16px;
    margin-left: 12px;
    margin-top: 21px;
}

.in {
    width: 17px;
    height: 17px;
    margin-left: 12px;
    margin-top: 20px;
}

.gl {
    width: 14px;
    height: 14px;
    margin-left: 12px;
    margin-top: 22px;
}

.header__menu__wrap {
    width: 95px;
    height: 95px;
    margin-left: 132px;
    margin-top: 38px;
    border: solid #ffffff;
}

.menu__img{
    margin-left: 29px;
    margin-top: 39px;
}

.header__menu__adress {
    margin-left: 46px;
    margin-top: 69px;
    /* width: 75px;
    height: 51px; */
}

.header__menu__email {
    margin-left: 103px;
    margin-top: 33px;
    /* width: 103px;
    height: 21px; */
}

.header__menu p {
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 10px;
    font-weight: 400;
    line-height: 10.64px;
    text-transform: uppercase;
}

.project_menu {
    height: 380px;
    background: url(../img/line.png) no-repeat;
    background-size:100% 100%;
    background-color: #ebb240;
}

.project_menu .project_menu_arrow {
    margin-top: 129px;
    margin-left: 106px;
}

.project_menu p {
    margin-top: 0px;
    margin-left: 124px;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 10px;
    font-weight: 400;
    line-height: 10.64px;
    text-transform: uppercase;
}

p {margin:0px;}

.project_menu .arrow{
    font-size: 12px;
    color: #ffffff;
}

.project_menu span {
    color: #000000;
}

.project_menu h1 {
    margin-top: 47px;
    margin-left: 164px;
    color: #fefefe;
    font-family: "Roboto Condensed";
    font-size: 36px;
    font-weight: 400;
    line-height: 10.64px;
    text-transform: uppercase;
}

.project_fondue {
    height: 380px;
    background: url(../img/fondue.png) no-repeat;
    background-color: #ffffff;
}

.project_louis {
    height: 354px;
    background: url(../img/louis.png) no-repeat;
    background-size: cover;
    /* background-color: #607479; */
}

.project_p22 {
    height: 354px;
    background: url(../img/p22.png) no-repeat;
}


.project_sesann {
    height: 229px;
    background: url(../img/sesann.png) no-repeat;
    background-color: #fcfcfc;
}

.project_alessi {
    height: 229px;
    background: url(../img/alessi.png) no-repeat;
    background-size: cover;
}

.project_potter {
    height: 188px;
    background: url(../img/potter.png) no-repeat;
    background-color: #dfe0d9;
}

.project_tabano {
    height: 355px;
    background: url(../img/tabano.png) no-repeat;
}

.project_fiji {
    height: 192px;
    background: url(../img/figi.png) no-repeat;
}

.project_timeline {
    height: 229px;
    background: url(../img/line.png) no-repeat;
    background-position: bottom;
    /* background-size:100% 100%; */
    background-color: #ebb240;
}

.studio_menu {
    height: 381px;
    background: url(../img/line.png) no-repeat;
    /* background-position: bottom; */
    background-size:100% 100%;
    background-color: #ff9b6d;
}

.studio_text {
    height: 381px;
    background-color: #e9eae2;
}

.studio_awards {
    height: 381px;
    background-color: #e9eae2;
}

.studio_awards_image {
    margin-top: 73px;
    margin-left: 32px;
    height: 153px;
    width: 274px;
}

.studio_awards_image img {
    height: 100%;
    width: 100%;
}

.studio_staff {
    height: 300px;
    background-color: #e9eae2;
}

/*.studio_starck {
    height: 300px;
    /*background-color: #e9eae2;   
}*/

.designer_wrap_img {
    margin-top: 50px;
    margin-left: 0px;
    height: 115px;
    width: 206px;
    padding-left: 0;
    padding-right: 0;
    /*background-color: #e9eae2;*/
}

.designer img {
    height: 100%;
}

.designer {
    height: 300px;
    background-color: #e9eae2; 
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.studio_starck_image {
    background-color: #ffffff;
}

.news_menu {
    height: 381px;
    background: url(../img/line.png) no-repeat;
    background-size:100% 100%;
    background-color: #d4edbf;
}

.article {
    height: 381px;
    background-color: #e5e9df;
}

.news_article1_image {
    height: 138px;
    width: 282px;
    margin-left: 76px;
    /* margin-top: px; */
}

.news_article1_image img {
    height: 100%;
    width: 100%;
    margin-top: 13px;
}

.news_article2_image {
    height: 138px;
    width: 282px;
    /*margin-left: 76px;*/
    /* margin-top: 121px; */
}

.news_article2_image img {
    height: 100%;
    width: 100%;
    margin-top: 13px
}

.footer_map {
    height: 490px;
    background: url("../img/map.png") no-repeat;
}

.footer_map img {
    margin-left: 211px;
    margin-top: 202px;
}

.footer_adress {
    height: 490px;
    background: url("../img/DSGN_copia.png") no-repeat;
    background-color: #e9eae2;
}

.title_project {
    color: #333333;
    font-family: "Roboto Condensed";
    font-size: 18px;
    font-weight: 300;
    line-height: 10.64px;
    text-transform: uppercase;
}

.about_project {
    color: #333333;
    font-family: "Roboto Condensed";
    font-size: 9px;
    font-weight: 300;
    line-height: 9.12px;
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.view_project {
    color: #333333;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;
    line-height: 9.12px;
    text-transform: uppercase;
}

.likes_project {
    color: #ff0000;
    font-family: "Roboto Condensed";
    font-size: 8px;
    font-weight: 300;
    line-height: 9.12px;
    text-transform: uppercase;
}

.fondue_title {
    margin-left: 62px;
    margin-top: 62px;
}

.fondue_about {
    margin-left: 62px;
    margin-top: 13px;
}

.fondue_view {
    margin-left: 47px;
    margin-top: 57px;
}

.fondue_likes {
    margin-left: 90px;
    margin-top: 87px;
}


.louis_title {
    margin-left: 25px;
    margin-top: 31px;
    color: #fefefe;
}

.louis_about {
    margin-left: 24px;
    margin-top: 13px;
    color: #fefefe;
}

.louis_view {
    margin-left: 24px;
    margin-top: 28px;
    color: #fefefe;
}

.louis_likes {
    margin-left: 70px;
    margin-top: 24px;
}

.alessi_title {
    margin-left: 120px;
    margin-top: 61px;
}

.alessi_about {
    margin-left: 120px;
    margin-top: 13px;
}

.alessi_view {
    margin-left: 95px;
    margin-top: 23px;
}

.alessi_likes {
    margin-left: 146px;
    margin-top: 23px;
}

.potter_title {
    margin-left: 34px;
    margin-top: 27px;
}

.potter_about {
    margin-left: 34px;
    margin-top: 10px;
    text-transform: none;
}

.potter_view {
    margin-left: 34px;
    margin-top: 10px;
}

.potter_likes {
    margin-left: 78px;
    margin-top: 21px;
}

.fiji_title {
    margin-left: 189px;
    margin-top: 39px;
}

.fiji_about {
    margin-left: 189px;
    margin-top: 13px;
}

.fiji_view {
    margin-left: 189px;
    margin-top: 20px;
}

.fiji_likes {
    margin-left: 250px;
    margin-top: 18px;
}

.p22_col1 {
    padding: 0 0 0 0;
}

.p22_col2 {
    padding: 0 0 0 0;
}

.p22_title {
    margin-left: 260px;
    margin-top: 70px;
}

.p22_about {
    margin-left: 260px;
    margin-top: 14px;
}

.p22_view {
    margin-left: 0;
    margin-top: 70px;
}

.p22_likes {
    margin-left: 50px;
    margin-top: 18px;
}

.sesann_title {
    margin-left: 75px;
    margin-top: 155px;
}

.sesann_about {
    margin-left: 75px;
    margin-top: 8px;
}

.sesann_view {
    margin-left: 0;
    margin-top: 177px;
}

.sessan_likes {
    margin-left: 0px;
    margin-top: 177px;
}

.sesann_col1 {
    padding: 0 0 0 0;
}

.sesann_col2 {
    padding: 0 0 0 0;
}

.sesann_col3 {
    padding: 0 0 0 0;
}

.tobano_title {
    margin-left: 46px;
    margin-top: 259px;
}

.tobano_about {
    margin-left: 46px;
    margin-top: 13px;
}

.tobano_view {
    margin-left: 0;
    margin-top: 287px;
}

.tobano_likes {
    margin-left: 0px;
    margin-top: 287px;
}

.tobano_col1 {
    padding: 0 0 0 0;
}

.tobano_col2 {
    padding: 0 0 0 0;
}

.tobano_col3 {
    padding: 0 0 0 0;
}

.timeline_h {
    margin-top: 46px;
    margin-left: 76px;
    color: #333333;
    font-family: "Roboto Condensed";
    font-size: 11px;
    text-transform: uppercase;
}

.timeline_arrow {
    margin-left: 58px;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 10px;
    text-transform: uppercase;
    /* padding-top: 2px; */
}

.timeline_years {
    margin-left: 76px;
    width: 20px;
    height: 52px;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 10px;
    font-weight: 400;
    line-height: 10.64px;
    text-transform: uppercase;
}

.studio_menu h1 {
    margin-top: 225px;
    margin-left: 163px;
    width: 108px;
    height: 28px;
    color: #fefefe;
    font-family: "Roboto Condensed";
    font-size: 36px;
    font-weight: 400;
    line-height: 10.64px;
    text-transform: uppercase;
}

.studi_text_up {
    margin-top: 71px;
    margin-left: 20px; 
    width: 263px;
    height: 108px;
    color: #333333;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-style: italic;
    line-height: 13.68px;
    padding: 0 0;
}

.studio_text_down {
    margin-top: 29px;
    margin-left: 20px; 
    width: 257px;
    height: 122px;
    color: #333333;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;
    line-height: 12.16px;
    padding: 0 0;
}

.studio_awards_image h1 {
    margin-top: 32px;
    width: 37px;
    height: 9px;
    color: #333333;
    font-family: "Roboto Condensed";
    font-size: 11px;
    font-weight: 700;
    line-height: 13.68px;
    text-transform: uppercase;
}



.studio_awards_text {
    /* margin-top: 63px; */
    /* margin-left: 30px; */
    width: 115px;
    height: 51px;
    color: #333333;
    font-family: "Roboto Condensed";
    font-size: 9px;
    font-weight: 400;
    line-height: 10.64px;
    text-transform: uppercase;
}

.studio_staff h1 {
    margin-top: 49px;
    margin-left: 127px;
    font-family: "Roboto Condensed";
    font-weight: 400;
    line-height: 10.64px;
    font-size: 11px;
    text-transform: uppercase;
}

.studio_staff p {
    margin-top: 10px;
    margin-left: 127px;
    color: #333333;
    font-family: "Roboto Condensed";
    font-size: 11px;
    font-weight: 300;
}
.FIO {
    color: #333333;
    font-family: "Roboto Condensed";
    font-size: 10px;
    font-weight: 700;
    line-height: 12.16px;
    text-transform: uppercase;
}

.prof {
    width: 38px;
    height: 8px;
    color: #333333;
    font-family: "Roboto Condensed";
    font-size: 9px;
    font-weight: 400;
    line-height: 12.16px;
    text-transform: uppercase;
}

.cv {
    margin-top: 47px;
    color: #fd5000;
    font-family: "Roboto Condensed";
    font-size: 11px;
    font-weight: 400;
    line-height: 12.16px;
    text-transform: uppercase;
}

.fab {
    margin-top: 47px;
    margin-left: 10px;
    color: #fd5000;
    font-size: 11px;
}

.social-network_designer {
    justify-content: space-around;
}


.news_menu h1 {
    margin-top: 225px;
    margin-left: 163px;
    width: 108px;
    height: 28px;
    color: #fefefe;
    font-family: "Roboto Condensed";
    font-size: 36px;
    font-weight: 400;
    line-height: 10.64px;
    text-transform: uppercase;
}

.news_title {
    margin-top: 61px;
    width: 280px;
    height: 35px;
    color: #333333;
    font-family: "Roboto Condensed";
    font-size: 18px;
    font-weight: 700;
    line-height: 18.24px;
    text-transform: uppercase;
}

.news_date {
    width: 41px;
    height: 8px;
    color: #6a6969;
    font-family: "Roboto Condensed";
    font-size: 9px;
    font-weight: 400;
    line-height: 18.24px;
    text-transform: uppercase;
}

.news_text {
    width: 278px;
    height: 42px;
    color: #6a6969;
    font-family: "Roboto Condensed";
    font-size: 9px;
    font-weight: 400;
    line-height: 10.64px;
    text-align: justify;
    /* align-content: justify; */
}

.news_read_more {
    width: 44px;
    height: 8px;
    color: #fd5000;
    font-family: "Roboto Condensed";
    font-size: 9px;
    font-weight: 400;
    line-height: 10.64px;
    text-transform: uppercase;
    margin-left: 85%;
}

.f_adress {
    margin-top: 114px;
    margin-left: 88px;
    width: 75px;
    height: 52px;
    color: #333333;
    font-family: "Roboto Condensed";
    font-size: 10px;
    font-weight: 400;
    line-height: 10.64px;
    text-transform: uppercase;
}

.footer_email {
    margin-top: 13px;
    margin-left: 88px;
    width: 102px;
    height: 21px;
    color: #333333;
    font-family: "Roboto Condensed";
    font-size: 10px;
    font-weight: 400;
    line-height: 10.64px;
    text-transform: uppercase;
}

.footer_asd {
    margin-top: 100px;
    margin-left: 300px;
    width: 69px;
    height: 39px;
    color: #393d3c;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 400;
    line-height: 13.68px;
    text-transform: uppercase;
}

.footer_social_network {
    margin-top: 17px;
    margin-left: 316px;
}

.copy{
    margin-top: 62px;
    margin-left: 97px;
    color: #191919;
    font-family: "Roboto Condensed";
    font-size: 9px;
    font-weight: 400;
    line-height: 16.42px;
}